@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Đăng nhập tài khoản";
}
<link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />

<div class="register-container">
    <div class="login-register-box">
        <div class="register-image">
            <img src="@Url.Content("~/img/anhkha.png")" alt="Ảnh Kha" />
        </div>
        <div class="register-form">
            <h2>Đăng nhập</h2>
            <form method="post" action="/Account/Login">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" required />
                </div>

                <div class="form-group">
                    <label>Mật khẩu</label>
                    <input type="password" name="password" required />
                </div>

                <button type="submit" class="login-submit-btn">
                    <span class="icon">🔐</span> Đăng nhập
                </button>
                <div class="text-center mt-2">
                    <a asp-controller="Account" asp-action="ForgotPassword" class="forgot-link text-decoration-none text-primary">
                        Quên mật khẩu?
                    </a>
                </div>
            </form>

            <div class="other-options">
                <span>Các tùy chọn đăng nhập khác</span>
                <div class="social-icons">
                    <button><img src="https://cdn-icons-png.flaticon.com/512/2991/2991148.png" alt="Google"></button>
                    <button><img src="https://cdn-icons-png.flaticon.com/512/124/124010.png" alt="Facebook"></button>
                    <button><img src="https://cdn-icons-png.flaticon.com/512/733/733579.png" alt="Apple"></button>
                </div>
            </div>

            <span class="have-account">
                Bạn chưa có tài khoản?
                <a href="/Account/SignUp">Đăng ký</a>
            </span>
        </div>
    </div>
</div>
